{
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./src/"],
				"alias": {
					"learn": ["./src/learn"],
					"components": ["./src/components"],
					"pages": ["./src/pages"],
					"routes": ["./src/routes"],
					"assets": ["./src/assets"],
					"hooks": ["./src/hooks"]
				}
			}
		]
	]
}
